// TODO
.containerPosts {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.125em;
  text-align: justify;
  letter-spacing: -0.5px;
  margin-bottom: 0.5em;
  color: var(--heading);

  transition: color 0.2s;
}

.subtitle {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.375em;
  text-align: justify;
  color: var(--body);
  margin-bottom: 1.5em;
}

.containerInfo {
  display: flex;
  gap: 1.5em;
  text-transform: capitalize;
  color: var(--info);
  svg {
    margin-right: 0.5em;
  }
}
