.post {
  margin-bottom: 3em;
  cursor: pointer;
  &:hover .title {
    color: var(--highligth);
  }
}

.title {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.125em;
  text-align: justify;
  letter-spacing: -0.5px;
  margin-bottom: 0.5em;
  color: var(--heading);
  transition: color 0.2s;
}

.loadPost {
  border: none;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 1.375em;
  /* identical to box height */

  text-align: justify;

  /* Highlight */

  color: var(--highligth);

  margin-top: calc(4em - 3em);
}
